%(include "hi3516av200.br.config")

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516av200/hi3519v101.generic.config"

BR2_TARGET_UBOOT_BOARDNAME="hi3519v101"

#TODO description
# BR2_CCTV_PLATFORM_HI3516AV200_HI3516AV200 is not set
BR2_CCTV_PLATFORM_HI3516AV200_HI3519V101=y
