%(include "../../common/br/arch/arm-a7.br.config")

# Prebuilt toolchain
BR2_RELRO_PARTIAL=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="file:///$(BR2_EXTERNAL_CCTV_PATH)/toolchain/arm-infinity6b0-linux-uclibcgnueabi_sdk-buildroot.tar.gz"
# GCC8 now only for infinity6*
BR2_TOOLCHAIN_EXTERNAL_GCC_8=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_9=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
# BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS_DEBUG is not set
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

# TODO
# cc1: warning: switch ‘-mcpu=cortex-a7’ conflicts with ‘-march=armv7-a’ switch in Kernel
#BR2_TARGET_OPTIMIZATION="-mcpu=cortex-a7 -mfloat-abi=softfp -mfpu=neon-vfpv4 -fno-aggressive-loop-optimizations"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.84"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/sigmastar/infinity6b0/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/infinity6b0/infinity6b0_ssc009a_s01a_defconfig"
BR2_LINUX_KERNEL_UIMAGE=y

# Uboot
# TODO disabled as it doesn`t work at the moment
#BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2015.01"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/sigmastar/infinity6b0/uboot"
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/bsp/infinity6b0/uboot/infinity6b0_defconfig"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="PLATFORM_RELFLAGS='-std=gnu99'"

# Common params
%(include "../../common/br/utils/common.br.config")

# Platform(family) and target SoC markers
#BR2_CCTV_PLATFORM_HI3516CV500=y
#BR2_CCTV_PLATFORM_HI3516CV500_HI3516CV500=y

