# Build all needed host util
BR2_FORCE_HOST_BUILD=y

#BR2_arm=y
#BR2_ARM_INSTRUCTIONS_THUMB=y
#BR2_FORCE_HOST_BUILD=y
#BR2_RELRO_PARTIAL=y
#BR2_TOOLCHAIN_BUILDROOT_VENDOR="hi3516cv100"
#BR2_KERNEL_HEADERS_VERSION=y
#BR2_DEFAULT_KERNEL_VERSION="3.0.8"
#BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_0=y
#BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
#BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
#BR2_GCC_VERSION_10_X=y
#BR2_TOOLCHAIN_BUILDROOT_CXX=y
#BR2_INIT_NONE=y
#BR2_SYSTEM_BIN_SH_NONE=y
## BR2_PACKAGE_BUSYBOX is not set
#BR2_PACKAGE_URANDOM_SCRIPTS=y
#BR2_PACKAGE_HOST_CMAKE=y
#BR2_PACKAGE_HOST_ENVIRONMENT_SETUP=y
#BR2_PACKAGE_HOST_GENIMAGE=y
#BR2_PACKAGE_HOST_JQ=y
#BR2_PACKAGE_HOST_KMOD=y
#BR2_PACKAGE_HOST_SQUASHFS=y


BR2_RELRO_PARTIAL=y
#BR2_TOOLCHAIN_BUILDROOT_VENDOR="hi3516cv100"
BR2_KERNEL_HEADERS_VERSION=y
#BR2_DEFAULT_KERNEL_VERSION="3.0.8"
#BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_0=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_GCC_VERSION_10_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_INIT_NONE=y
BR2_SYSTEM_BIN_SH_NONE=y
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_GDB=y
BR2_PACKAGE_URANDOM_SCRIPTS=y
# BR2_TARGET_ROOTFS_TAR is not set

BR2_PACKAGE_HOST_ENVIRONMENT_SETUP=y

#include "host-utils.br.config"
