BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.0.8"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hi3516cv100/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/fragments/hi3516cv100/linux/hi3516cv100.kernel.config"
BR2_LINUX_KERNEL_UIMAGE=y
