include "gk7205v200.br.config"

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/gk7205v200/gk7605v300.generic.config"

BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/bsp/gk7205v200/uboot/gk7605v300_defconfig"

#TODO description
# BR2_CCTV_PLATFORM_GK7205V200_GK7205V200 is not set
BR2_CCTV_PLATFORM_GK7205V200_GK7605V300=y
