include "hi3516cv300.br.config"

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516cv300/hi3516ev100.generic.config"

BR2_TARGET_UBOOT_BOARDNAME="hi3516ev100"

#TODO description
# BR2_CCTV_PLATFORM_HI3516CV300_HI3516CV300 is not set
BR2_CCTV_PLATFORM_HI3516CV300_HI3516EV100=y
