include "hi3516cv500.br.config"

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516cv500/hi3516av300.generic.config"

BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hi3516cv500/uboot/hi3516av300_defconfig"

#TODO description
# BR2_CCTV_PLATFORM_HI3516CV500_HI3516CV500 is not set
BR2_CCTV_PLATFORM_HI3516CV500_HI3516AV300=y
