include "hi3516ev200.br.config"

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516ev200/hi3518ev300.generic.config"

BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hi3516ev200/uboot/hi3518ev300_defconfig"

#TODO description
# BR2_CCTV_PLATFORM_HI3516EV200_HI3516EV200 is not set
BR2_CCTV_PLATFORM_HI3516EV200_HI3518EV300=y
