include "hi3516av100.br.config"

#BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516av100/hi3516dv100.generic.config"

# hi3516dv100 uses same config as hi3516av100
#BR2_TARGET_UBOOT_BOARDNAME="hi3516a"

#TODO description
# BR2_CCTV_PLATFORM_HI3516AV100_HI3516AV100 is not set
BR2_CCTV_PLATFORM_HI3516AV100_HI3516DV100=y
