include "arch/arm-a7.br.config"

# Prebuilt toolchain
BR2_RELRO_PARTIAL=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="file:///$(BR2_EXTERNAL_CCTV_PATH)/toolchain/arm-hi3516av100-linux-uclibcgnueabi_sdk-buildroot.tar.gz"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_9=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
# BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS_DEBUG is not set
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

BR2_TARGET_OPTIMIZATION="-mcpu=cortex-a7 -mfloat-abi=softfp -mfpu=neon-vfpv4 -mno-unaligned-access -fno-aggressive-loop-optimizations"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.37"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hi3516av100/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516av100/hi3516av100.generic.config"
BR2_LINUX_KERNEL_UIMAGE=y

# Uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="hi3516a"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2010.06"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hi3516av100/uboot"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="PLATFORM_RELFLAGS='-std=gnu90'"

# Common params
include "utils/common.br.config"

# Platform(family) and target SoC markers
BR2_CCTV_PLATFORM_HI3516AV100=y
BR2_CCTV_PLATFORM_HI3516AV100_HI3516AV100=y
