include "arch/arm-a5.br.config"

# Prebuilt toolchain
BR2_RELRO_PARTIAL=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="file:///$(BR2_EXTERNAL_CCTV_PATH)/toolchain/arm-xm530-linux-uclibcgnueabi_sdk-buildroot.tar.gz"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_10=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
# BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS_DEBUG is not set
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.10.103"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/xm530/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/xm530/xm530.generic.config"
BR2_LINUX_KERNEL_UIMAGE=y

# Uboot
BR2_TARGET_UBOOT=y
#xm530_spinor                   xm530:XM530,SYS_USE_SERIALFLASH
#xm530_spinor_quad              xm530:XM530,SYS_USE_SERIALFLASH,XM_SF_QUAD
#xm550_spinor                   xm530:XM530,SYS_USE_SERIALFLASH,128MDDR3
#xm550_spinor_quad              xm530:XM530,SYS_USE_SERIALFLASH,128MDDR3,XM_SF_QUAD
#xm530_spinor_high              xm530:XM530,SYS_USE_SERIALFLASH,HIGH_MODE
#xm530_spinor_high_128mddr      xm530:XM530,SYS_USE_SERIALFLASH,HIGH_MODE,128MDDR3  
BR2_TARGET_UBOOT_BOARDNAME="xm530_spinor"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2014.04"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/xm530/uboot"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="PLATFORM_RELFLAGS='-std=gnu90'"

include "utils/common.br.config"

# TODO description
BR2_CCTV_PLATFORM_XM530=y
BR2_CCTV_PLATFORM_XM530_XM530=y
