%(include "../../common/br/arch/arm926t.br.config")

# Prebuilt toolchain
BR2_RELRO_PARTIAL=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="file:///$(BR2_EXTERNAL_CCTV_PATH)/toolchain/arm-hi3516cv200-linux-uclibcgnueabi_sdk-buildroot.tar.gz"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_9=y
BR2_TOOLCHAIN_EXTERNAL_LOCALE=y
# BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS_DEBUG is not set
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

# TODO description
BR2_TARGET_OPTIMIZATION="-mcpu=arm926ej-s -mno-unaligned-access -fno-aggressive-loop-optimizations"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.37"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hisilicon/hi3516cv200/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/hi3516cv200/hi3516cv200.generic.config"
BR2_LINUX_KERNEL_UIMAGE=y

# Uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="hi3516cv200"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2010.06"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_CCTV_PATH)/bsp/hisilicon/hi3516cv200/uboot"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="PLATFORM_RELFLAGS='-std=gnu90'"

# Common params
%(include "../../common/br/utils/common.br.config")

# Platform(family) and target SoC markers
BR2_CCTV_PLATFORM_HI3516CV200=y
BR2_CCTV_PLATFORM_HI3516CV200_HI3516CV200=y
