%(include "hi3516cv100.br.config")

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/board/common/linux/hi3516cv100/hi3518ev100.generic.config"

BR2_TARGET_UBOOT_BOARDNAME="hi3518e"

#TODO description
# BR2_CCTV_PLATFORM_HI3516CV100_HI3516CV100 is not set
BR2_CCTV_PLATFORM_HI3516CV100_HI3518EV100=y
