%(include "xm530.br.config")

# TODO check are there anything need be changed for xm550
#BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CCTV_PATH)/configs/linux/xm530/xm530.generic.config"

# Uboot configuration for xm550
BR2_TARGET_UBOOT_BOARDNAME="xm550_spinor"

# TODO description
BR2_CCTV_PLATFORM_XM530=y
# BR2_CCTV_PLATFORM_XM530_XM530 is not set
BR2_CCTV_PLATFORM_XM530_XM550=y
